extends layout

block content
  .main.container
    .row
      button(onclick="redirect('/')" class="main-button1") Go to the main page!
    .row
      h1= title
      p This is the prediction page
      .row
        .col-md-6.col-md-offset-3
          // predict the admission chance
          form#predict-form
            div.form-group
              label(for='name') Name:
              br
              input#name.form-control(type='text', placeholder='first and last', name='name', onfocus='clearResult()', required, class="predict-form")
            div.form-group
              label(for='email') Email:
              br
              input#email.form-control(type='email', placeholder='name@email.com', name='email', onfocus='clearResult()', class="predict-form")
            div.form-group
              label(for='gre') GRE Score (260-340):
              br
              input#gre.form-control(type='number', name='gre', min='260', max='340', onfocus='clearResult()', required, class="predict-form")
            div.form-group
              label(for='toefl') TOEFL Score (0-120):
              br
              input#toefl.form-control(type='number', name='toefl', min='0', max='120', onfocus='clearResult()', required, class="predict-form")
            div.form-group
              label(for='comments') Comments:
              br
              input#comments.form-control(type='text', placeholder='comments', name='comments', onfocus='clearResult()', class="predict-form")
            button#predict-submit.btn.btn-primary(type='button', class= "main-button1") Predict
            div.result
              p#prediction-result
    script.
      //- modify DOM to show the result when send prediction
      document.getElementById('predict-submit').addEventListener('click', function (e) {
        e.preventDefault()
        if (isValidById('name', 'gre', 'toefl')) {
          //- construct the form from scratch
          var form = document.getElementById('predict-form');
          var formData = new FormData(form);
          var body = new URLSearchParams(formData)
          //- pull results
          fetch('/predict', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' },
            body
          }).then(res => res.json())
          .catch(function(err) {
            console.error(err)
          }).then(function(result) {
            //- display result
            var name = document.getElementById('name').value;
            var gre = document.getElementById('gre').value;
            var toefl = document.getElementById('toefl').value;
            var resultText = `Hi, ${name}. According to your GRE & TOEFL scores ${gre} and ${toefl}. We predict your chance to be admitted to UCLA to be ${result}%.`
            document.getElementById('prediction-result').innerHTML = resultText;
          })
        } else {
          //- not all inputs are valid
          alert('Please fill all required fields, and make sure the numbers are in range.')
        }
      })
