extends layout

block content
  .main.container
    .row
      button(onclick="redirect('/')") Go to the main page!
    .row
      h1= title
      p This is the prediction page
      .row
        .col-md-6.col-md-offset-3
          // predict the admission chance
          form
            div.form-group
              label(for='name') Name:
              br
              input#name.form-control(type='text', placeholder='first and last', name='name', onfocus='clearResult()', required)
            div.form-group
              label(for='email') Email:
              br
              input#email.form-control(type='email', placeholder='name@email.com', name='email')
            div.form-group
              label(for='gre') GRE Score (260-340):
              br
              input#gre.form-control(type='number', name='gre', min='260', max='340', onfocus='clearResult()', required)
            div.form-group
              label(for='toefl') TOEFL Score (0-120):
              br
              input#toefl.form-control(type='number', name='toefl', min='0', max='120', onfocus='clearResult()', required)
            div.form-group
              label(for='comments') Comments:
              br
              input#comments.form-control(type='text', placeholder='comments', name='comments')
            button#predict-submit.btn.btn-primary(type='button') Predict
            div.result
              p#prediction-result
              //- p Hi, #{name}. According to your GRE & TOEFL scores #{gre} and #{toefl}. We predict that your chance to be admitted to UCLA to be #{result}%.
    script.
      //- modify DOM to show the result when send prediction
      document.getElementById('predict-submit').addEventListener('click', function (e) {
        e.preventDefault()
        if (isValidById('name', 'gre', 'toefl')) {
          //- construct the form from scratch
          var formData = new FormData();
          formData.append('name', e.target.form.name.value);
          formData.append('gre', e.target.form.gre.value);
          formData.append('toefl', e.target.form.toefl.value);
          //- pull results and display
        } else {
          alert('Please fill all required fields')
        }
      })
